<body>

<p>Bienvenue sur notre site de l association de pickleball !</p>

<div>
    {%  set urlCreateTournoi=path('formgestiontournoi')%}
    {% set urlSuggestion=path('tournoi_distribution2') %}
    {% set urladdequipe=path('form_addequipe') %}
    <li><a href="{{ urlCreateTournoi }}">Creer un nouveau tournoi</a></li>
    <li><a href="{{ urlSuggestion }}">Estimez la durée du tournois</a></li>
    <li><a href="{{ urladdequipe }}" >Ajouter une equipe</a></li>

</div>
</body>
