<body>

<p>Bienvenue sur notre site de l association de pickleball !</p>

<div>
    {%  set urlCreateTournoi=path('form_addtournoi')%}
    <li><a href="{{ urlCreateTournoi }}">Creer un nouveau tournoi</a></li>
</div>
</body>
