<body>

<p>Bienvenue sur notre site de l association de pickleball !</p>

<div>
    {%  set urlCreateTournoi=path('form_addtournoi')%}
    {% set urlSuggestion=path('tournoi_distribution1') %}
    <li><a href="{{ urlCreateTournoi }}">Creer un nouveau tournoi</a></li>
    <li><a href="{{ urlSuggestion }}">Estimez la durée du tournois</a></li>

</div>
</body>
