<body>Bienvenue sur notre site de l association de pickleball !

<div>
    {% set connexion=path('app_login') %}
    {% set creeruncompte=path('form_adduser') %}
    <li><a href="{{ connexion }}" >connexion</a></li>
    <li><a href="{{ creeruncompte }}" >créer un compte</a></li>



</div>



</body>